@model EducationViewModel

<style>
    .education {
        width: 40%;
        margin: 10px auto 30px;
        text-align: left;
        line-height: 1.5;
    }

    .educationimg {
        width: 35%;
        float: right;
        margin-left: 20px;
    }
</style>

<hr class="purple-dot" />
<div class="text-center">
    <div class="education" id="educationContent">
        <h2>Education</h2>
        <img class="educationimg" src="/images/education.jpg" alt="education-img">
        <ul>
            <li>@Model.University</li>
            <li>@Model.Bachelor | @Model.GraduatedDate</li>
            <li>@Model.MajorDegree</li>
            <li>@Model.ResultCGPA</li>
            <li>@Model.Internship</li>
        </ul>
    </div>
</div>

<hr class="purple-dot" />